{% extends "_layout.jinja2" %}

{% block content %}
<h1>DNS</h1>

    {{ unsynced_changes }}
{% if unsynced_changes %}
<div class="alert alert-warning">
    You have unsynced changes.
</div>
{% endif %}

<form method="POST" action="{{ url_for('create_dns_record') }}">
    <input type="text" name="name" placeholder="Name" required>
    <select name="domain_id" required>
        {% for domain in domains %}
        <option value="{{ domain.id }}">{{ domain.name }}</option>
        {% endfor %}
    </select>
    <select name="type" required>
        <option value="A">A</option>
        <option value="AAAA">AAAA</option>
        <option value="CNAME">CNAME</option>
        <option value="TXT">TXT</option>
        <option value="MX">MX</option>
        <option value="NS">NS</option>
        <option value="SRV">SRV</option>
    </select>
    <input type="text" name="content" placeholder="Content" required>
    <input type="number" name="ttl" placeholder="TTL" value="1" required>
    <input type="number" name="priority" placeholder="Priority">
    <input type="checkbox" name="proxied" value="true"> Proxied
    <input type="hidden" name="managed_by" value="USER">
    <button type="submit">Add Record</button>
</form>
<br>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Domain</th>
            <th>Type</th>
            <th>Content</th>
            <th>TTL</th>
            <th>Priority</th>
            <th>Proxied</th>
            <th>Managed By</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for record in dns_records %}
        <tr {% if record.managed_by != "USER" %}class="muted"{% endif %}>
            <td style="text-align: right;">{{ record.name }}</td>
            <td>{{ record.domain.name }}</td>
            <td>{{ record.type.name }}</td>
            <td>{{ record.content }}</td>
            <td>{{ record.ttl }}</td>
            <td>{{ record.priority }}</td>
            <td>{{ record.proxied }}</td>
            <td>{{ record.managed_by.name }}</td>
            <td>
                <a href="{{ url_for('edit_dns_record', record_id=record.id) }}">Edit</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}