{% extends "_layout.jinja2" %}


{% block content %}
    <h1>Proxies</h1>

    <h2>Gateway Connections</h2>
    <form method="post" action="/proxies/create/connection" {% if not clients %}class="muted"{% endif %}>
        <input type="text" name="name" placeholder="Name" required>
        <select name="client_id" required>
            {% for client in clients %}
                <option value="{{ client.id }}">{{ client.name }}</option>
            {% endfor %}
        </select>
        <select name="protocol" required>
            {% for protocol in protocols %}
                <option value="{{ protocol }}">{{ protocol }}</option>
            {% endfor %}
        </select>
        <input type="text" name="local_ip" placeholder="Local IP" required>
        <input type="number" name="local_port" placeholder="Local Port" required>
        <input type="number" name="remote_port" placeholder="Remote Port" required>
        <button type="submit">Create Gateway Connection</button>
    </form>
    <br>
    <table {% if not clients %}class="muted"{% endif %}>
        <thead>
            <tr>
                <th>Name</th>
                <th>Client</th>
                <th>Protocol</th>
                <th>Local Address</th>
                <th>Remote Port</th>
                <th>Managed By</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for proxy in connections %}
            <tr {% if proxy.managed_by != ManagedBy.USER %}class="muted"{% endif %}>
                <td>{{ proxy.name }}</td>
                <td>{{ proxy.client.name }}</td>
                <td>{{ proxy.protocol.name }}</td>
                <td>{{ proxy.local_ip }}:{{ proxy.local_port }}</td>
                <td>{{ proxy.remote_port }}</td>
                <td>{{ proxy.managed_by.name }}</td>
                <td>
                    <a href="/proxies/edit/connection/{{ proxy.id }}">Edit</a>
                </td>
            </tr>
            {% endfor %}
            {% if not connections %}
                <tr>
                    <td colspan="7">No gateway connections found.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>

    <h2>Gateway Clients</h2>
    <form method="post" action="/proxies/create/client" {% if not servers %}class="muted"{% endif %}>
        <input type="text" name="name" placeholder="Name" required>
        <select name="server_id" required>
            {% for server in servers %}
                <option value="{{ server.id }}">{{ server.name }}</option>
            {% endfor %}
        </select>
        <button type="submit">Create Gateway Client</button>
    </form>
    <br>
    <table {% if not servers %}class="muted"{% endif %}>
        <thead>
            <tr>
                <th>Name</th>
                <th>Server</th>
                <th>Is Origin</th>
                <th>Last Queried</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for client in clients %}
            <tr>
                <td>{{ client.name }}</td>
                <td>{{ client.server.name }}</td>
                <td>{{ client.is_origin }}</td>
                <td>
                    {% if client.last_config_pull_time %}
                        {{ (now - client.last_config_pull_time).total_seconds() }} seconds ago
                    {% else %}
                        N/A
                    {% endif %}
                </td>
                <td>
                    <a href="/proxies/edit/client/{{ client.id }}">Edit</a>
                </td>
            </tr>
            {% endfor %}
            {% if not clients %}
                <tr>
                    <td colspan="4">No gateway clients found.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>

    <h2>Gateway Servers</h2>
    <form method="post" action="/proxies/create/server">
        <input type="text" name="name" placeholder="Name" required>
        <input type="text" name="host" placeholder="Host" required>
        <input type="number" name="bind_port" placeholder="Bind Port" required>
        <input type="text" name="auth_token" placeholder="Auth Token" required>
        <button type="submit">Create Gateway Server</button>
    </form>
    <br>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Host</th>
                <th>Bind Port</th>
                <th>Last Queried</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for server in servers %}
            <tr>
                <td>{{ server.name }}</td>
                <td>{{ server.host }}</td>
                <td>{{ server.bind_port }}</td>
                {% if server.last_config_pull_time %}
                    <td>{{ (now - server.last_config_pull_time).total_seconds() }} seconds ago</td>
                {% else %}
                    <td>N/A</td>
                {% endif %}
                <td>
                    <a href="/proxies/edit/server/{{ server.id }}">Edit</a>
                </td>
            </tr>
            {% endfor %}
            {% if not servers %}
                <tr>
                    <td colspan="7">No gateway servers found.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>

{% endblock %}